.stopButton{
    background-color: #ff081c;
    border-color: #FF081C;
    cursor: pointer;
    border-radius: .5rem;
    width:145px;
    height: 40px;
}

.startButton{
     background-color: #2dbc35;
     border-color: #2DBC35;
     cursor: pointer;
     border-radius: .5rem;
     width:145px;
     height: 40px;
 }
.pauseButton{
    background-color: #ffa340;
    border-color: #ffa340;
    cursor: pointer;
    border-radius: .5rem;
    width:145px;
    height: 40px;
}
#modal_Yes{

    background-color: #2dbc35;
    border-color: #2DBC35;
    cursor: pointer;
    border-radius: .5rem;
}
#modal_No{
    background-color: #FF081C;
    border-color: #FF081C;
    cursor: pointer;
    border-radius: .5rem;
}
#modalStopWarning{


}
/*
.btn-custom {
    color: #fff;
    cursor: pointer;
    background-color: #0D90E6;
    border-color: #0D90E6;
    border-radius: .5rem;
}

.btn-custom:hover {
    background-color: #76B33E;
    border-color: #76B33E;
}*/
